html {
  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 768px) {
    font-size: calc(100vw / 425 * 10);

    header {
      padding: 2rem 3rem 1rem 3rem;
      position: fixed;
      z-index: 100;
      background: white;
      width: 100%;
    }

    .header-left-part-svg-burger {
      display: none;
    }

    .section-main-main-section-header:nth-child(1) {
      margin-top: 9rem;
    }

    .header-right-part-icon:nth-child(n) {
      display: none;
    }

    .header-right-part-icon:last-child {
      display: block;
    }

    .header-right-part {
      width: fit-content;
    }

    .header-left-part-input input {
      display: none;
    }

    .header-left-part-input-icon {
      top: -1.5rem;
      right: -6rem;
    }

    .header-left-part-input-icon svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    .header-right-part-icon:last-child img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }

    .section-main-main-section {
      padding: 0rem 3rem;
    }

    .section-main-aside {
      display: none;
    }

    .section-main-main-section-main-list {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .section-main-main-section-header-swipers {
      display: none;
    }

    .section-main-main-section-main-list-item,
    .section-main-main-section-main-list-item-img {
      width: auto;
    }

    .section-main-main-section-main-list-item-img img {
      width: 100%;
      height: 20rem;
    }

    .section-main-main-section-main-list-item-img.big img {
      width: 100%;
      height: 20rem;
    }

    .section-main-main-section-header-button,
    .section-main-main-section-header-author span {
      display: none;
    }

    .footer-mobile {
      display: flex;
      position: sticky;
      bottom: 0;
      background: white;
    }
  }
}
