html {
  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 768px) {
    font-size: calc(100vw / 425 * 10);

    .header__author-image img {
      width: 6rem;
      height: 6rem;
    }

    .header {
      padding: 2rem 3rem 1rem 3rem;
      position: fixed;
      z-index: 100;
      background: white;
      width: 100%;
    }

    .header__burger {
      display: none;
    }

    .section__header:nth-child(1) {
      margin-top: 9rem;
    }

    .header__right > div:nth-child(n) {
      display: none;
    }

    .header__right > div:last-child {
      display: block;
    }

    .header__right {
      width: fit-content;
    }

    .header__input input {
      display: none;
    }

    .header__icon.header__icon--search {
      top: -1.5rem;
      right: -6rem;
    }

    .header__icon.header__icon--search svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    .header__right > div:last-child img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }

    .main__section {
      padding: 0rem 3rem;
    }

    .section__aside {
      display: none;
    }

    .main__section-list {
      flex-wrap: wrap;
      flex-direction: column;
      width: auto;
    }

    .section__header-swipers {
      display: none;
    }

    .section__list-item,
    .list__item-img {
      width: 85.5vw;
    }

    .list__item-img img {
      width: 100%;
      height: 20rem;
    }

    .list__item-img.big img {
      width: 100%;
      height: 20rem;
    }

    .header__wrapper {
      display: none;
    }

    .footer {
      display: flex;
      position: sticky;
      bottom: 0;
      background: white;
    }
  }
}
