* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
}

.footer {
  display: none;
  border-top: 1px solid #ececec;
  padding: 1.5rem 3rem;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #c2c2c2;
}

.footer-item:nth-child(1) {
  color: red;
}

.header {
  padding: 2rem 6rem 5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-right: 10rem;
}

.header__logo > * {
  cursor: pointer;
}

.header__burger {
  margin-right: 3rem;
}

.header__input {
  position: relative;
}

.header__input input {
  width: 83rem;
  height: 2rem;
  padding: 2.5rem;
  border: #f9f9f9;
  border-radius: 25px;
  color: #30384c;
  background-color: #f9f9f9;
  font-size: 2rem;
  outline: none;
}

.header__icon--search {
  position: absolute;
  top: 1.6rem;
  right: 2rem;
}

.header__right {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon:nth-child(3) {
  position: relative;
}

.icon__bage {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.icon__image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.section {
  display: flex;
}

.section__aside {
  padding: 0 6rem 3.5rem 4rem;
}

.nav__item {
  display: flex;
  color: #898989;
  cursor: pointer;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.nav__item > div {
  width: 4.5rem;
}

.nav__item:nth-child(1) {
  color: #ff0000;
}

.nav__item:nth-child(3) {
  margin-bottom: 6rem;
}

.nav__item:last-child {
  margin-bottom: 6rem;
}

.aside__article {
  margin-bottom: 12rem;
}

.article__item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 21rem;
  cursor: pointer;
}

.article__item:nth-last-child() {
  margin: 0;
}

.article__title {
  font-size: 3rem;
  color: #19202c;
  margin-bottom: 2rem;
}

.item__image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.article__item-label {
  padding-left: 1.6rem;
  font-size: 2.1rem;
  text-align: center;
  color: #898989;
}

.aside__bottom {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.aside__bottom-label {
  padding-left: 2rem;
  font-size: 2.1rem;
  color: #c2c2c2;
}

.main__section {
  margin-bottom: 4rem;
}

.section__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.header__author {
  display: flex;
  align-items: center;
}

.header__author span {
  font-size: 2rem;
  color: #c2c2c2;
  padding-left: 2.5rem;
}

.header__author-image {
  padding-right: 2.5rem;
}

.header__author-image img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.header__author-name {
  font-size: 2.5rem;
  color: #19202c;
}

.header__author-name.text {
  font-size: 2.5rem;
  color: #19202c;
}

.section__header-swipers {
  display: flex;
  align-items: center;
  padding-right: 17rem;
  gap: 1rem;
}

.swipers__item {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c2;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.swipers__item svg {
  width: 1.2rem;
  height: 1.8rem;
  display: block;
  position: absolute;
}

.swipers__item:nth-child(1) svg {
  left: 1.2rem;
}

.swipers__item:nth-child(2) svg {
  left: 1.6rem;
}

.main__section-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 4rem;
  overflow-x: auto;
  width: 90%;
}

.main__section-list::-webkit-scrollbar {
  display: none;
}

.section__list-item {
  width: fit-content;
}

.list__item-img {
  position: relative;
  width: min-content;
}

.list__item-img img {
  width: 25rem;
  height: 15rem;
  border-radius: 15px;
  object-fit: cover;
}

.list__item-img.big img {
  width: 54rem;
  height: 25rem;
  border-radius: 15px;
  object-fit: cover;
}

.list__item-img > span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  border-radius: 15px;
}

.list__item-data {
  display: flex;
  flex-direction: column;
}

.list__item-data h3 {
  margin: 1rem 0rem 0.3rem 0rem;
  font-size: 2rem;
}

.data__footer {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  color: #c2c2c2;
}

.data__footer-wrapper {
  display: flex;
}

.wrapper__date::before {
  content: " • ";
  color: #c2c2c2;
  padding: 0 1rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.section__header-button {
  color: white;
  background-color: #ff0000;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-size: 2rem;
  margin-right: 4rem;
}
