* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 2rem 6rem 5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.header-left-part {
  display: flex;
  align-items: center;
}

.header-left-part-svg {
  display: flex;
  align-items: center;
  padding-right: 6rem;
}

.header-left-part-svg > * {
  cursor: pointer;
}

.header-left-part-svg-burger {
  margin-right: 3rem;
}

.header-left-part-input {
  position: relative;
}

.header-left-part-input input {
  width: 83rem;
  height: 2rem;
  padding: 2.5rem;
  border: #f9f9f9;
  border-radius: 25px;
  color: #30384c;
  background-color: #f9f9f9;
  font-size: 2rem;
  outline: none;
}

.header-left-part-input-icon {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
}

.header-right-part {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right-part-icon:nth-child(3) {
  position: relative;
}

.header-right-part-icon-bage {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header-right-part-icon img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.section-main {
  display: flex;
}

.section-main-aside {
  padding: 0 6rem 3.5rem 4rem;
}

.section-main-aside-nav-item {
  display: flex;
  color: #898989;
  cursor: pointer;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.section-main-aside-nav-item-icon {
  width: 4.5rem;
}

.section-main-aside-nav-item:nth-child(1) {
  color: #ff0000;
}

.section-main-aside-nav-item:nth-child(3) {
  margin-bottom: 6rem;
}

.section-main-aside-nav-item:last-child {
  margin-bottom: 6rem;
}

.section-main-aside-article {
  margin-bottom: 12rem;
}

.section-main-aside-article-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 21rem;
}

.section-main-aside-article-item:nth-last-child() {
  margin: 0;
}

.section-main-aside-article-title {
  font-size: 3rem;
  color: #19202c;
  margin-bottom: 2rem;
}

.section-main-aside-article-item-image img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.section-main-aside-article-item-label {
  padding-left: 1.6rem;
  font-size: 2.1rem;
  text-align: center;
  color: #898989;
}

.section-main-aside-bottom {
  display: flex;
  align-items: center;
}

.section-main-aside-bottom-label {
  padding-left: 2rem;
  font-size: 2.1rem;
  color: #c2c2c2;
}

.section-main-main {
  width: 100%;
}

.section-main-main-section {
}

.section-main-main-section-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-main-main-section-header-author {
  display: flex;
  align-items: center;
}

.section-main-main-section-header-author-image {
}

.section-main-main-section-header-author-image img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.section-main-main-section-header-author-name {
  font-size: 2.5rem;
  padding-left: 2.5rem;
  color: #19202c;
}

.section-main-main-section-header-swipers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 21.5rem;
  padding-right: 14rem;
}

.section-main-main-section-header-swipers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 500;
  width: 3rem;
  height: 3rem;
  background-color: #c2c2c2;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
